@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background: black;
}
.appnavbtn{
    width: 0px;
    height: 0px;
    overflow: hidden;

}
.appaside{
    position: absolute;
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100%;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.3s;
    z-index: 1;
    transform: translateX(-100%);
}
.appaside .asidebar{
    width: 90%;
    height: 90%;
    margin-top: 10%;
}

.appaside .asidetab{
    width: 95%;
    height: 150px;
    border-radius: 20px;
}
.appaside .asidetab .asideicon img{
    width: 50px;
    height: 50px;
}
.appaside .asidetab .asidetext{
    font-size: 50px;
    font-weight: 300;
    padding-left: 20px;
}
.box{
    width: 100%;
    height: 100%;
}
/* .shadow{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background: white;
    filter: blur(300px);
    right: -200px;
    top: -350px;
} */
.nav{
    width: 100%;
    height: 15%;
    display: flex;
}
.logo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 25px;
    font-weight: 500;
    font-family: "Unbounded", sans-serif;
    font-style: normal;
}
.logo a{
    position: absolute;
}
.navbtn{
    width:300px;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}
.navbtn img{
    position: absolute;
    width: 24px;
    height: 24px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 1;
}
#closeBtn{
width: 0px;
height: 0px;
}
.navbtn img:hover{
    opacity: 0.3;
    transition: 0.3s;
}

.spacebar{
    width: 50%;
    height: 100%;
}
.sidenav{
    width: 20%;
    height: 100%;
}
.sidenavtab{
    width: 50%;
    height: 100%;
    display: flex;
}
.sidenavicon{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sidenavicon img{
width: 32px;
height: 32px;
cursor: pointer;

}
.sidenavicon:nth-child(2) img{
    width: 28px;
    height: 28px;
}
.base{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.aside{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.3s;
}
.asidebar{
    width: 50%;
    height: 100%;
    padding-left: 60px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.asidetab{
    width: 100%;
    height: 50px;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}
#mainpage{
    background: rgba(255, 255, 255, 0.09);
    font-weight: 600;
}
#mainpage:hover{
    opacity: 1;
    transform: translateX(0px);
    transition: 0.1s;
}
.asidetab:hover{
    opacity: 0.3;
    transform: translateX(10px);
    transition: 0.1s;
}
.asidetab img{
width: 24px;
height: 24px;
}
.asideicon{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.asidetext{
    width: 75%;
    height: 100%;
    padding-left: 5%;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;

}
.content{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    transition: 0.3s;
}
::-webkit-scrollbar{
    width: 0px;
}
.homepage{
    width: 85%;
    height: 580px;
    overflow-y: scroll;
    padding-bottom: 20px;
}
.contentpage{
    width: 85%;
    height: 580px;
    overflow-y: scroll;
    padding-bottom: 20px;
    line-height: 1.7;
}
.home1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.presentertab{
    width: 180px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 300px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.brandname{
    width: 100%;
    padding-top: 30px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    font-family: "Unbounded", sans-serif;
    font-style: normal;
    /* background: blue; */
}
.brandtagline{
    width: 100%;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    font-family: "Unbounded", sans-serif;
    font-style: normal;
    /* background: grey; */
}
.brandinfo{
    width: 100%;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}
.brandbtnbox{
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.brandbtn{
    cursor: pointer;
    font-weight: 500;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.brandbtn1{
    width: 190px;
    height: 50px;
    font-weight: 500;
    margin: 10px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    background: white;
    border: 1px solid rgba(255, 255, 255, 1);

}
.brandbtn1 .brandbtnicon{
    padding-right: 12px;
}
.brandbtnicon{
    padding-right: 20px;
}
.brandbtnicon img{
    width: 24px;
    height: 24px;
}
.headline{
    font-size: 25px;
}


@media screen and (max-width: 1100px){

    .aside{
        position: absolute;
        width: 0%;
        height: 0%;
        z-index: 1;
        left: 0;
        top: 15%;
    }

    .appnavbtn{
        width: 200px;
        height: 100%;
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    #opnbtn{
        width: 50px;
        height: 50px;
    }
    #clsbtn{
        position: absolute;
        width: 0px;
        height: 0px;
    }
    .content{
        position: absolute;
        width: 100%;
        height: 90%;
        top: 10%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #openBtn{
        width: 0px;
        height: 0px;
    }
    #closeBtn{
        width: 0px;
        height: 0px;
    }





    .nav{
        width: 100%;
        height: 10%;
    }             
    .logo{
        width: 100%;
        height: 100%;
        font-size: 50px;
    }   
    .spacebar{
        width: 0%;
        height: 0%;
    }
    .sidenav{
        width: 0%;
        height: 0%;
    }
    .presentertab{
        transform: scale(3) translateY(-20px);
    }
    .brandname{
        transform: translateY(0px);
    }
    .brandtagline{
        transform: translateY(30px);
    }
    .brandinfo{
        transform: translateY(0px);
        font-size: 40px;
        padding: 70px;
    }
    .homepage{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contentpage{
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 70px;
        width: 100%;
        height: 100%;
    }
    .brandbtnbox{
        transform: translateY(0px);
        width: 100%;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 40px;
    }
    .brandbtnbox a{
        width: 70%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 100px;
        overflow: hidden;

    }
 
    .brandbtnbox a:nth-child(2){
    transform: translateY(30px);

    }
    .brandbtn{
        cursor: pointer;
        font-weight: 500;
        width: 1000%;
        height: 100px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid rgba(255, 255, 255, 1);
    }
    .brandbtn1{
        cursor: pointer;
        font-weight: 500;
        width: 100%;
        height: 100px;
        margin: 10px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid rgba(255, 255, 255, 1);
    }
    .brandbtnicon{
        padding-right: 50px;
    }
    .brandbtnicon img{
        width: 50px;
        height: 50px;
    }
    


}


    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 16px;
        font-size: 16px;
    }
    ul {
        margin-bottom: 16px;
        padding-left: 20px;

    }
    ul li {
        margin-bottom: 8px;

    }
    .email {
        font-weight: bold;
        color: #0056b3;
        cursor: pointer;
        padding: 5px 20px;
        border-radius: 50px;
        border: 1px solid rgba(255, 255, 255, 0.7);
    }
